* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0a171d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #fff;
}
#btn-mobile {
  display: none;
}
.sobre-curriculo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #fff;
  flex-wrap: wrap;
  padding: 50px;
}
.info {
  font-size: 13pt;
}
.img-curriculo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.front img {
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  width: 50px;
  border-radius: 50%;
}

.texto-curriculo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  border: 2px solid #00bfff;
  height: 350px;
  border-radius: 50px;
}
.front {
  border-radius: 50%;
}

#imagem-curriculo {
  border-radius: 50%;
  width: 250px;
  margin-bottom: 30px;
  border: solid 2px #00bfff;
}
.contato {
  animation: flutuar 3s linear infinite;
}

.contato span {
  padding: 5px;
  margin-left: 20px;
  cursor: pointer;
}

.contato img {
  width: 50px;
}

#tittle {
  margin-left: 25px;
  font-weight: 600;
  font-size: xx-large;
  cursor: pointer;
}
.i-header {
  display: flex;
  list-style: none;
}
.i-header li {
  margin-left: 20px;
  padding: 10px;
}
a:hover {
  color: rgba(255, 255, 255, 0.4);
  transition: transform 300ms ease-in-out;
}
li:after {
  display: block;
  content: "";
  border-bottom: solid 1px #00bfff;
  padding-bottom: 5%;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

li:hover:after {
  transform: scaleX(1);
}

.i-header li:nth-child(3) {
  margin-right: 30px;
}
.section-1 {
  display: flex;
  width: 100%;
  height: calc(100vh - 4rem);
  border-bottom: 1px solid #fff;
}
.section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column;
  flex: 1;
  margin-left: 40px;
  font-size: x-large;
}

.imagem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.tecnologias {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
}
.fut-tec {
  width: 100%;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
}
.card {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 100px;
}
.card:nth-child(-n + 4) {
  border-right: 1px solid #fff;
}
.card img {
  width: 100px;
  padding: 10px;
}
.cards {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}
.texto-card {
  margin-top: 10px;
  margin-bottom: 10px;
}
.tittle2 {
  padding: 20px;
  margin-bottom: 30px;
  font-size: xx-large;
  font-weight: 600;
}
.card img:hover {
  animation: pulse 0.7s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(200%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  100% {
    transform: scale(1.1);
    filter: brightness(200%);
  }
}
@keyframes flutuar {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-23px);
  }
}

.card2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 100px;
}
.card2:nth-child(-n + 4) {
  border-right: 1px solid #fff;
}
.card2 img {
  width: 100px;
  padding: 10px;
}

.card2 img:hover {
  animation: cards2 0.7s infinite;
}
@-webkit-keyframes cards2 {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1.1);
    opacity: 0.1;
  }
}

@keyframes cards2 {
  0% {
    transform: scale(1);
    opacity: 0.9;
  }
  100% {
    transform: scale(1.1);
    opacity: 0.1;
  }
}
.projetos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card-projeto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 250px;
  border: 2px solid #fff;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}
.titulo-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: xx-large;
  font-weight: 600;
}
.titulo-card img {
  width: 30px;
  cursor: pointer;
}

.titulo-card span {
  border-bottom: solid 1px #fff;
}

#titulo-projeto {
  text-align: center;
  width: 100%;
  border-top: 1px solid #fff;
  padding: 20px;
  margin-bottom: 30px;
  font-size: xx-large;
  font-weight: 600;
}
.card-texto {
  font-size: small;
  padding: 8px;
}
a {
  color: #fff;
  text-decoration: none;
}
.tec-usadas {
  margin-top: 50px;
}

.tec-usadas ul {
  display: flex;
  justify-content: space-around;
  font-size: small;
}
footer {
  border-top: 1px solid #fff;
  color: #fff;

  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div {
  margin-left: 50px;
}
footer img {
  width: 35px;
}
#load {
  color: rgb(250, 250, 250);
  margin-bottom: 10px;
  margin-top: 10px;
  animation: pisca 4s alternate infinite ease-in-out;
}

#load::after {
  content: "|";
  margin-left: 5px;
  animation: blink 0.8s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pisca{
  from{
    filter: drop-shadow(0 0 0 red);
  }to{
    filter: drop-shadow(0 0 30px #00bfff);
  }
}
@media (max-width: 900px) {
  .info {
    font-size: 9pt;
  }
  .imagem img {
    width: 400px;
  }
}
@media (max-width: 600px) {
  #btn-mobile {
    display: flex;
    padding: 5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
  }

  #hamburguer {
    display: block;
    border-top: 2px solid;
    width: 20px;
  }
  #hamburguer:after,
  #hamburguer:before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    border-bottom: 2px solid;
    margin-top: 3px;
    transition: 0.3s;
    position: relative;
  }

  .i-header {
    /* display: none; */
    display: block;
    position: absolute;
    width: 100%;
    top: 60px;
    right: 0;
    height: 0;
    transition: 0.6s;
    z-index: 1000;
    background: #050b0efa;
    visibility: hidden;
    overflow-y: hidden;
  }
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .inicio.active .i-header {
    height: calc(100vh - 60px);
    visibility: visible;
    overflow-y: auto;
  }
  .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .info {
    display: none;
  }
  .imagem img {
    display: none;
  }
  .inicio.active #hamburguer {
    border-top-color: transparent;
  }
  .inicio.active #hamburguer:before {
    transform: rotate(135deg);
  }
  .inicio.active #hamburguer:after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .inicio li {
    margin-top: 5px;
  }
}
